* {
  box-sizing: border-box;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  min-width: 50%;
  border: 4px solid black;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#new {

  min-height: 40px;
  max-height: 50px;
  width: 100px;
  padding: 5px;
  font-size: 25px;
  margin: 5px 30px;
  border: 4px solid black;
  border-radius: 10px;
}